$white: #FFFFFF;
$label: #404040;
$label_light: #737373;
$red: #C41230;
$orange_red: #D6634A;
$orange: #EB6E21;
$border: #C3C3C3;
$border_dark: #404040;
$placeholder: #A3A3A3;

$header: #37394F;
$text: #CBCED8;
$text_2: #404041;
$cta: #C41230;
$text_dark: darken($white, 100%);
$body: #E2E5EE;
$shadow: darken($white, 16%);

$green: #26C280;
$yellow: #F4C732;
$nav_link: #EB6E1F;
$info_blue: lightblue;
$info_blue_dark: darkblue;