@import "../assets/stylesheets/colors.scss";
@import "../assets/stylesheets/variables.scss";

.BaseField {
  position: relative;

  &__label {


    &--required {
      &:after {
        content: '*';
        height: 10px;
        padding-left: 3px;
        margin-top: -4px;
        display: inline-block;
        font-size: $fontSizeH3;
        color: $orange;
        position: relative;
        vertical-align: sub;
      }
    }
  }

  &__message {
    font-size: $fontSize;
    font-weight: 600;
    margin-top: -$margin;
    margin-bottom: $formErrorMargin;

    &--error {
      color: $red;
    }

    &--warning {
      color: $orange;
    }

    &--narrow {
      font-size: 8px;
      margin-top: -9px;
      margin-bottom: 0px;
    }

    &--tableCell {
      font-size: 8px;
      margin-top: -9px;
      margin-bottom: 0px;
      margin-left: 2px;
    }
  }
}